<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-text py-2">什麼是便友？</h4>
      <p>曾經被「大便的人不會寂寞」MV 洗腦的車友，就算騎車兜風耳機開再大聲的音樂</p>
      <p>也無法忘懷這樣的旋律</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8ncJcZf3Bmg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      <p>也因為心中有個白爛的靈魂</p>
      <p>「便友」就這麼自然匯集而成，讓整個世界都不寂寞了</p>
      <hr>
      <h4 class="card-text py-2">如何才能加入便友？</h4>
      <p class="lh-base">如果只有心中所想，寂寞將在黑夜再次悄然而襲</p>
      <p>您必須於<%= link_to("蝦皮網站", "https://shopee.tw/%E3%80%90%E8%B2%BC%E7%B4%99%E3%80%91%E5%A4%A7%E4%BE%BF%E7%9A%84%E4%BA%BA%E4%B8%8D%E6%9C%83%E5%AF%82%E5%AF%9E%EF%BD%9C%E6%A9%9F%E8%BB%8A%E8%B2%BC%E7%B4%99%EF%BD%9C%E5%AE%89%E5%85%A8%E5%B8%BD%E8%B2%BC%E7%B4%99%EF%BD%9C%E9%81%A9%E7%94%A8-JET-%E5%8B%81%E6%88%B0-BWS-%E9%9B%B7%E9%9C%86-Force-i.15975226.2920882181", target: "_blank") %>，購買專屬貼紙</p>
      <p>隨貨寄出後將會附上一張「便友專屬序號」</p>
      <p>貼紙不限顏色，一張貼紙就是一組序號</p>
      <p>屆時當您收到包裹時，也就擁有使用這個網站的權利了</p>
      <p>需特別注意的是，只有「大便的人不會寂寞」貼紙有序號，賣場其他貼紙均無附贈</p>
    </div>
  </div>
</div>