<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="card">
    <div class="card-header text-center">
      註冊入口
    </div>
    <div class="card-body">
      <p>這裡是便友專屬的停機坪</p>
      <p>在這裡你可以盡情展示你的愛車</p>

      <%= form_with url: enter_lobby_path do |form| %>
        <div class="mb-3">
          <%= form.text_field :coupon, class: "form-control", placeholder: "請輸入邀請碼" %>
        </div>

        <div class="d-grid gap-2">
          <%= form.submit "進入", class: "btn btn-primary" %>
        </div>
      <% end %>

      <hr>

      <div class="py-2">
        <%= link_to("如何成為便友?", guide_path, class: "fs-6 fst-italic") %>
      </div>
    </div>
  </div>
</div>